.event-item {
  width: 12em;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-img {
    width: 6em;
    margin: 1em 0;
  }

  &_body {
    background-color: red;
    padding: 0;
    padding-top: 1em;
    width: inherit;
    color: #fff;
    & > h5 {
      margin-left: 5px;
    }
    &-text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      & > p {
        margin-bottom: 0;
        margin-left: 5px;
        margin-right: 5px;
      }
    }
  }
}
